---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador de software inteligentes",
    company: "CyberNet",
    description:
      "Aplicación sobre ciberseguridad, programación y educación secundaria",
    link: "",
  },
  {
    date: "2023",
    title: "Inteligencia artificial educativa.",
    company: "openai-CyberNet",
    description:
      "Una IA que te da las pautas para un estudio general de  un tema por puntos para memorizar más rápido.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
